// Variable Declarations
$primaryColorSoftRed: hsl(10, 79%, 65%);
$primaryColorCyan: hsl(186, 34%, 60%);
$secondaryColorDarkBrown: hsl(25, 47%, 15%);
$secondaryColorMediumBrown: hsl(28, 10%, 53%);
$secondaryColorCream: hsl(27, 66%, 92%);
$secondaryColorPaleOrange: hsl(33, 100%, 98%);


*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
    font-family: 'DM Sans', sans-serif;
}

body,
h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

body {
    font-size: 18px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $secondaryColorCream;
}

.master {
    width: min(80%, 520px);
}

.balance-card {
    $paddingWidth: 24px;

    color: white;
    margin-bottom: 20px;
    padding: $paddingWidth;
    border-radius: 16px;
    background: {
        color: $primaryColorSoftRed;
        image: url("./images/logo.svg");
        repeat: no-repeat;
        
        position: calc(100% - #{$paddingWidth});
    }

    span {
        font: {
            size: 1.2em;
            weight: bold;
        }
    }
}

.spending-card {
    padding: {
        top: 20px;
        left: 24px;
        right: 24px;
        bottom: 20px;
    }
    border-radius: 16px;
    background-color: $secondaryColorPaleOrange;

    h2 {
        margin-bottom: 1.5em;
    }
}

.chart {
    $gridGap: 12px;

    width: 100%;
    height: 200px;
    padding-bottom: 20px;
    border-bottom: 2px solid $secondaryColorCream;
    display: grid;
    column-gap: $gridGap;
    grid-template-columns: repeat(7, calc(100%/7 - #{$gridGap} + #{$gridGap}/7));

    .chartbarday {
        text-align: center;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        position: relative;
    }

    .bar {
        width: 100%;
        height: 70%;
        border-radius: 6px;
        background-color: $primaryColorSoftRed;
    }

    .bar:hover {
        filter: brightness(125%);
    }

    .today-bar {
        background-color: $primaryColorCyan;
    }

    .tooltip {
        visibility: hidden;
        position: absolute;
        width: 100%;
        font-size: 0.8em;
        padding: {
            top: 6px;
            bottom: 6px;
        }
        border-radius: 6px;
        color: $secondaryColorPaleOrange;
        background-color: $secondaryColorDarkBrown;
    }

    .bar:hover ~ .tooltip {
        visibility: visible;
    }

    span {
        @extend .details;
        @extend .secondary-details;
        margin-top: 6px;
    }
}

.primary-text {
    color: $secondaryColorDarkBrown;
    font-weight: bold;
}

.details {
    font-size: 0.8em;
}

.secondary-details {
    color: $secondaryColorMediumBrown;
}

.total-month-amount-block {
    margin-top: 20px;

    .numbers-month-amount-container {
        display: grid;
        grid-template-columns: 50% 50%;

        .month-amount {
            font: {
                size: 2.5em;
            }
        }

        .percentage-block {
            text-align: right;
        }
    }
}

.attribution {
    font-size: 11px; text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}